<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string>难</string>
		<key>roma</key>
		<string>A</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/a:/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Б</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/bɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>В</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/vɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Г</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/gɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Д</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/dɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Е</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/jɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Ё</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/jo/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Ж</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ʒɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>З</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/zɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>И</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/i:/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Й</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/i: &apos;kra.tkəjə/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string>难</string>
		<key>roma</key>
		<string>К</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ka/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Л</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ɛlʲ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string>难</string>
		<key>roma</key>
		<string>М</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ɛm/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Н</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ɛn/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string>难</string>
		<key>roma</key>
		<string>О</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/o/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>П</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/pɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Р</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ɛr/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>C</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ɛs/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string>难</string>
		<key>roma</key>
		<string>T</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/tɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>У</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/u:/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Ф</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ɛf/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Х</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/xa/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Ц</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ʦɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Ч</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/tɕɛ/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Ш</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ʃa/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Щ</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ɕa/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>ъ</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>твёрдый знак</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>ы</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ɨ:/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>ь</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>мягкий знак</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Э</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>э оборотное</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Ю</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ju:/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>Я</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>/ja:/</string>
	</dict>
	<dict>
		<key>readTip</key>
		<string>sg31.com</string>
		<key>remark</key>
		<string></string>
		<key>roma</key>
		<string>全</string>
		<key>roma_mp3</key>
		<string>sg31.mp3</string>
		<key>name</key>
		<string>全部</string>
	</dict>
</array>
</plist>
